main.gridWithAside.container{
	display: -ms-grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	-ms-grid-rows: 8em;
}

main.gridWithAside.container header{
	display: ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 8;
	-ms-grid-row: 1;
}

main.container header .flex#top{
	justify-content: space-around!important;
}


main.gridWithAside.container .mainContent{
	display: ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 8;
	-ms-grid-row: 2;
}

main.gridWithAside.container aside.sidebar{
	display: -ms-grid;
	-ms-grid-column: 9;
	-ms-grid-column-span: 4;
	-ms-grid-row: 1;
	margin-left: 2em;
}

main.gridWithAside.pagesAside.container{
	display: -ms-grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	-ms-grid-rows: 8em;
	margin-left: 12%;
}

main.gridWithAside.pagesAside.container header{
	display: ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 12;
	-ms-grid-row: 1;
}

main.gridWithAside.pagesAside.container nav{
	display: -ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 12;
	-ms-grid-row: 2;
	margin-bottom: 4.3em;
}


main.gridWithAside.pagesAside.container .mainContent{
	display: -ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 8;
	-ms-grid-row: 3;
	margin-left: 0;
	padding-top: 0;
}

main.gridWithAside.pagesAside.container .sidebar{
	display: -ms-grid;
	-ms-grid-column: 10;
	-ms-grid-column-span: 3;
	-ms-grid-row: 3;
	margin-left: 2em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide{
	display: -ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.fotosSide h2{
	height: 1em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.fotosSide .row{
	width: 23.5em;
	margin-top: 3em;
	margin-left: 1em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.fotosSide .row figure a img{
	max-width: 100%!important;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.fotosSide .row .col.m6{
	width: 45%;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.videoSide{
	-ms-grid-row: 2;
	margin-left: 1.7em;
}
main.gridWithAside.pagesAside.container .sidebar .itemSide.videoSide h2{
	height: 1em;
	width: 11.6em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.videoSide .row{
	margin-top: 3em;
}

main.gridWithAside.pagesAside .sidebar .itemSide.mapaSide{
	-ms-grid-row: 3;
}

main.gridWithAside.pagesAside .sidebar .itemSide.mapaSide h2{
	height: 1em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.mapaSide .row{
	margin-top: 3em;
	margin-left: 1em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.descargarSide{
	-ms-grid-row: 4;
	margin-left: 25%
}main.gridWithAside.pagesAside.container{
	display: -ms-grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	-ms-grid-rows: 8em;
	margin-left: 12%;
}

main.gridWithAside.pagesAside.container header{
	display: ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 12;
	-ms-grid-row: 1;
}

main.gridWithAside.pagesAside.container nav{
	display: -ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 12;
	-ms-grid-row: 2;
	margin-bottom: 4.3em;
}


main.gridWithAside.pagesAside.container .mainContent{
	display: -ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 8;
	-ms-grid-row: 3;
	margin-left: 0;
	padding-top: 0;
}

main.gridWithAside.pagesAside.container aside.sidebar{
	display: -ms-grid;
	-ms-grid-column: 10;
	-ms-grid-column-span: 3;
	-ms-grid-row: 3;
	margin-left: 2em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide{
	display: -ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	margin: 0;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.fotosSide h2{
	height: 1em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.fotosSide .row{
	width: 23.5em;
	margin-top: 4em;
	margin-left: 1em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.fotosSide .row figure a img{
	max-width: 100%!important;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.fotosSide .row .col.m6{
	width: 45%;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.videoSide{
	-ms-grid-row: 2;
	margin-left: 0em;
}
main.gridWithAside.pagesAside.container .sidebar .itemSide.videoSide h2{
	height: 1em;
	width: 11.6em;
	margin-left: 1em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.videoSide .row{
	margin-top: 4em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.videoSide .row figure{
	width: 90%;
}

main.gridWithAside.pagesAside.container.sidebar .itemSide.mapaSide{
	-ms-grid-row: 3;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.mapaSide h2{
	height: 1em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.mapaSide .row{
	margin-top: 4em;
	margin-left: 1em;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.mapaSide .row figure{
	width: 90%;
}

main.gridWithAside.pagesAside.container .sidebar .itemSide.descargarSide{
	-ms-grid-row: 4;
	margin-left: 25%
}


.sidebar .hoteles a{
	flex-basis: 39%;
}


/*arreglo carousel de home*/

.carouselHomeItem:last-child{
	width: 28em!important;
}

.itemCarouselDestinos{
	width: 28em;
}

/*estilos a container de Destinos*/

.gridWithAside.container.destinos aside.sidebar .hoteles{
	display: -ms-grid;
	-ms-grid-row: 2;
}


/*Estilos a botón de aviso en explorer*/

#closeIcon{
	color: #FFF;
	float: right;
	font-size: 2em;
}

/*ESTILOS PÁGINA DE HOTELES */

main.gridWithAside.pagesAside.container{
	display: -ms-grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	-ms-grid-rows: 8em;
	margin-left: 12%;
}

main.gridWithAside.pagesAside.container header{
	display: ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 12;
	-ms-grid-row: 1;
}

main.gridWithAside.pagesAside.container nav{
	display: -ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 12;
	-ms-grid-row: 2;
	margin-bottom: 4.3em;
}


main.gridWithAside.pagesAside.container .mainContent{
	display: -ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 8!important;
	-ms-grid-row: 3;
	margin-left: 0;
	padding-top: 0;
}

main.gridWithAside.pagesAside .sidebar{
	display: -ms-grid;
	-ms-grid-column: 10!important;
	-ms-grid-column-span: 3;
	-ms-grid-row: 3!important;
	margin-left: 2em;
}

main.gridWithAside.pagesAside .sidebar .itemSide{
	display: -ms-grid;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	margin: 0;
}

main.gridWithAside.pagesAside .sidebar .itemSide.fotosSide h2{
	height: 1em;
}

main.gridWithAside.pagesAside .sidebar .itemSide.fotosSide .row{
	width: 23.5em;
	margin-top: 5em;
	margin-left: 1em;
}

main.gridWithAside.pagesAside .sidebar .itemSide.fotosSide .row figure a img{
	max-width: 100%!important;
}

main.gridWithAside.pagesAside .sidebar .itemSide.fotosSide .row .col.m6{
	width: 45%;
}

main.gridWithAside.pagesAside .sidebar .itemSide.videoSide{
	-ms-grid-row: 2;

}

main.gridWithAside.pagesAside .sidebar .itemSide.videoSide .row figure.col.m12.s12{
	width: 90%!important;
}

main.gridWithAside.pagesAside .sidebar .itemSide.videoSide h2{
	height: 1em;
	width: 13.6em;
}

main.gridWithAside.pagesAside .sidebar .itemSide.videoSide .row{
	margin-top: 5em;
}

main.gridWithAside.pagesAside .sidebar .itemSide.mapaSide{
	-ms-grid-row: 3;
}

main.gridWithAside.pagesAside .sidebar .itemSide.mapaSide h2{
	height: 1em;
}

main.gridWithAside.pagesAside .sidebar .itemSide.mapaSide .row{
	margin-top: 5em;
	margin-left: 1em;
}

main.gridWithAside.pagesAside .sidebar .itemSide.mapaSide .row figure.col.s12{
	width: 90%!important;
}

main.gridWithAside.pagesAside .sidebar .itemSide.descargarSide{
	-ms-grid-row: 4;
	margin-left: 25%
}

main.gridWithAside.pagesAside.container .mainContent div img{
	max-width: 45em;
}


@media (max-width: 1325px) {
	.gridWithAside.container .mainContent .flex.contenedorDestinos{
		width: 45em;
		margin-left: 4em
	}
	.gridWithAside.container .mainContent nav .nav-wrapper{
		margin-left: 4em;
	}
	.gridWithAside.container .sidebar.sideDestinos{
		margin-left: 7em;
	}
	.gridWithAside.container .sidebar .hoteles .flex{
		width: 18em;
	}
	.gridWithAside.container .mainContent.containerHome{
		margin-left: -11em;
	}
	.gridWithAside.container .sidebar .hoteles #myCarousel{
		margin-left: 5em;
		width: 20em;
	}
	
	/*estilos query a todos los layouts de hoteles y destinos*/
	main.gridWithAside.pagesAside.container{
		margin-left: 10%;
	}

	main.gridWithAside.pagesAside.container .mainContent div img{
		max-width: 70%;
	}

	main.gridWithAside.pagesAside .sidebar{

	}
}


@media (max-width: 1200px) {
	/*estilos a home responsive*/
	main.gridWithAside.container{
		margin-left: 7%;
	}

	.gridWithAside.container .sidebar .hoteles .flex{
		width: 20em;
	}

	main.gridWithAside.container .mainContent.containerHome{
		
		margin-left: -2em;
	}
	
	main.gridWithAside.container .mainContent.containerHome .flex.zonas{
		max-width: 70%;
	}


	/*estilos query a todos los layouts de hoteles y destinos*/
	main.gridWithAside.pagesAside.container{
		margin-left: 5%;
	}
	
	main.gridWithAside.pagesAside .sidebar{
		margin-left: 5em;
	}

	main.gridWithAside.pagesAside.container .mainContent div img{
		max-width: 65%;
	}

	main.gridWithAside.container.containerDestinos{
		margin-left: 8%;
	}

	main.gridWithAside.container.containerDestinos .mainContent.mainDestinos{
		margin-left: 0;
	}

	main.gridWithAside.container.containerDestinos .mainContent.mainDestinos .nav-wrapper{
		margin-left: 0;
	}
	main.gridWithAside.container.containerDestinos .mainContent.mainDestinos .contenedorDestinos{
		margin-left: 0;
		max-width: 93%;
	}
}

